html, 
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  /* background-image: url("https://cdn-images-1.medium.com/max/800/1*FbAVZD_gQJtd2FX21S7c5w.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  background-size: cover; */
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  z-index: 1;
  /* position: fixed; */
}

nav {
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
}

h5 {
  position: relative;
  z-index: -2;
}

img {
  height: 400px;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 576px) {
    ul {
    font-family: sans-serif;
    display: inline-flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 576px) {
    form {
    display: none;
  }
}

@media only screen and (max-width: 454px) {
  li {
    display: block;
    width: 100%;
  }
  
  li:hover {
    transform: scale(1.1);
  }
}


li {
  display: inline-block;
  flex: 1;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

li:hover {
  border-bottom: 2px solid #ff8a00;
}

li a {
  color: #ddd;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  color: #fff !important;
  text-decoration: none;
}

div a:hover {
  color: #000;
  text-decoration: none;
}

.nav-item a {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
}

input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 17px;
  width: 50%;
  height: 60px;
  border: 3px solid #eee;
}

input:hover {
  width: 75%;
}

.mb {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  height: 150px;
  max-width: 100%;
  text-align: center;
  padding: 25px;
}
.w-25 {
  max-width: 33.3%;
  height: auto;
  display: inline-block;
  font-family: sans-serif;
  color: white;
  margin: auto;
}

.w-25 > h3 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.w-25 > span h3 {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  display: inline-block;
}

@media (max-width: 717px) {
  .mb {
    display: none;
  }
}

.w-20 {
  width: 20%;
  background-color: #f1f1f1;
  box-shadow: 4px 5px 5px #eee;
  margin: 20px 10px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

@media (max-width: 598px) {
  .w-20 {
    display: none;
  }
}

.w-100 {
  width: 100%;
}

.card-deck {
  max-width: 95%;
}

@media (max-width: 417px) {
  .w-100 {
    display: none;
  }
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
}

.nav-item {
  flex: 1;
  font-size: 13px;
  display: inline;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}

.nav-item:hover {
  border-bottom: 2px solid #ff8a00;
  cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4 {
  text-align: center !important;
  padding: 25px 0 0 30px;
}

.card-title {
 margin-bottom: 0.75em
}

.card-img-top {
  border-top-left-radius:calc(.25rem - 1px);
  border-top-right-radius:calc(.25rem - 1px);
  height: 200px;
  width: 100%
}

.card-body{
  flex:1 1 auto;
  min-height:1px;
  padding:1.25rem;
}

.card {
  position:relative;
  display:flex;
  flex-direction:column;
  word-wrap:break-word;
  background: #fff;
  background-clip:border-box;
  border:1px solid rgba(0,0,0,.125);
  border-radius:.25rem;
  margin: 20px;
  color: #000;
  font-family: sans-serif;
}

@media (min-width:576px){
  .card-deck{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    margin-right:-15px;
    margin-left:-15px;
  }
  
  .card-deck .card{
    -ms-flex:1 0 0%;flex:1 0 0%;
    margin-right:15px;
    margin-bottom:5px;
    margin-left:15px
  }
}

.card:hover {
  box-shadow: 16px 16px 15px #f1f1f1;
}